  p {
    font-size: small;
   }
   .container_of_form {
      margin-top: 15%;
      margin-bottom: 25%;
      margin-left: 25%;
      margin-right: 25%;
      border: solid brown;
      border-radius: 5px;
      background-color:  #fffae6;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 25px;
    } 
    input[type=text], input[type=password] {
       width: 100%;
       padding: 12px 20px;
       margin: 8px 0;
       display: inline-block;
       border: 1px solid #ccc;
       box-sizing: border-box;
    }